<div class="container">
    <h1>Ingrese un producto</h1>
    <form action="/app" method="post">
        Producto <input type="text" name="title">
        Precio <input type="text" name="price">
        URL <input type="text" name="thumbnail">
        <button type="submit">Agregar</button>
    </form>
</div>
<a href="http://localhost:8080/app/products">Ver productos</a>
