<table>
    <tr>
        <td>ID</td>
        <td>Producto</td>
        <td>Precio</td>
        <td>Imagen</td>
    </tr>
    {{#if productsExist}}
    {{#each products}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{thumbnail}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
<a href="http://localhost:8080/app/index""></a>
