html
    head
        title='APIs and Template Engines'
    body
        h1='Ingrese un producto'
        form(action="/app" method="post") 
            label #[input(type='texto', name='title')] Producto
            label #[input(type='texto', name='title')] Precio
            label #[input(type='texto', name='title')] Imagen
            button(type="submit")= "Send"
        a(href="http://localhost:8080/app/products")="Ver productos"