<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIs and Template Engines</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1>Ingrese un producto</h1>
        <form action="/" method="post">
            Nombre <input type="text" name="title">
            Precio <input type="text" name="price">
            Foto URL <input type="text" name="thumbnail">
            <button type="submit">Agregar</button>
        </form>
        <div id="productList"></div>
    </div>
    <div class="container">
        <h1>Centro de mensajes</h1>
        <form action="/" method="post">
            <input type="text" name="email" placeholder="ejemplo@gmail.com">
            <input type="text" name="message" placeholder="Escriba aquí su mensaje">
            <button type="submit">Enviar</button>
        </form>
        <div id="messasgeList"></div>
    </div>
</body>
</html>