<h1>Ingrese un producto</h1>
<form action="/app" method="post">
    Producto: <input type="text" name="title">
    Precio: <input type="text" name="price">
    URL: <input type="text" name="thumbnail">
    <button type="submit">Send</button>
</form>
<a href="http://localhost:8080/app/products">Ver productos</a>