<div>
    <h3>Productos</h3>
    {{#if products}}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnail}}></td>
            </tr>
            {{/each}}
        </table>
    {{else}}
    <h5>No hay productos</h5>
    {{/if}}
</div>