<div class="container">
    <table>
         <% if (products.length > 0) { %>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            <% products.forEach(product => { %>
                <tr>
                    <td><%=product.id%></td>
                    <td><%=product.title%></td>
                    <td><%=product.price%></td>
                    <td><%=product.thumbnail%></td>
                </tr>
            <% }) %>
        <% }  else { %>
            <div id="noProducts">No hay productos agregados</div>
        <% } %>
    </table>
</div>
<a href="http://localhost:8080/app/index"">Agregar un producto</a>
