* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: sans-serif;
    border: none;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("../img/backgroundImg.jpeg");
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #172b3b;
    padding: 5px;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #09335670;
}
h1 {
    margin-top: 10px;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: fit-content;
    max-width: 100%;
    text-align: left;
}
input{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
button, a {
    max-width: fit-content;
    padding: 10px;
    margin-top: 5%;
    align-self: flex-end;
    background-color: #172b3b90;
    color: #ffffff;
    border-radius: 5px;
}
a{
    text-decoration: none;
    margin: 50px auto;
}
button:hover, a:hover{
    background-color: #172b3b;
}


table {
    margin: 50px 25px;
    border-collapse: collapse;
}
tr {
    height: 10%;
    text-align: left;
}
tr:hover{
    background-color: #28527540;
    color: #f5f5f5;
}
th, td{
    padding: 10px 3px;
}
th {
    background-color: #172b3b;
    color: #f5f5f5;
}
#noProducts {
    margin-top: 40px;
}